/* flex gap-10 justify-center */

.CarsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: large;
}

@media screen and (max-width: 700px) {
  .CarsContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .CarsContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    font-size: medium;
    justify-content: center;
  }
}
