.imagetermsofuse {
  /* padding-top: 100px; */
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.termsOfUseContainer {
  display: flex;
  flex-direction: column;
  /* width: 1080px; */
  /* margin-left: 10%; */
  margin: 0 auto;

  padding: 0 50px;
}
